<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hopin OAuth Flow Example</title>
  </head>
  <body class='container'>
    <form action='auth' method='get'>
      <button type='submit' class='btn btn-primary'>Log in with Hopin</button>
    </form>
  </body>
</html>
