<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hopin OAuth Flow Example</title>
  </head>
  <body class='container'>
    <% if cookies[:resource] %>
      <form action='auth' method='get'>
        <button type='submit' class='btn btn-primary'>Log in with Hopin</button>
      </form>

      <small>(using the RI: <%= cookies[:resource] %>)
      <%else%>
        Please install at the Hopin App Store
      <%end%>
    </body>
  </html>
