<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hopin OAuth Flow Example</title>
  </head>
  <body class='container'>
    <h2>Sign-Up REJECTED By User:</h2>
    <form action='auth_me' method='get'>
      <ul class='unstyled'>
        <li><b>ERROR:   </b> <%= error %></li>
        <li><b>MESSAGE: </b> <%= message %></li>
      </ul>
    </form>
  </body>
</html>
